nav .navbarDiv{
    max-width: 1200px;
    margin: auto;
   
}
nav .navbar-brand{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}

nav .navbar-toggler-icon{
 width: 14px;
}

nav .menu{
    font-size: 14px;
}

 .google-play, .app-store{
    width: 170px;
}

.btn-primary {
    background-color: #344e41 !important;
    border-color: #344e41 !important;
}


.header-img{
    transition: all 0.5s linear;
}

.header-img:hover{
    transform: scale(1.1)!important;
}


.bg-primary {
    background-color: #344e41 !important;
}


.custom-icon {
    font-size: 50px; 
}


.feature{
   transform: rotate(5deg);
   transition: all 0.5s linear;
}

.feature:hover{
    transform: scale(1.1);
}


section.img{
    background-image: url("/image/garden1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
}


.mainDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.imgDiv3{
    position: relative;
}


.opacity-75{
    transition: all 0.3s linear;
    text-decoration: none;
}
 
.opacity-75:hover{
    color:#344e41!important;
    text-decoration: underline;
    opacity: 100%;
}


@media screen and (max-width:991px) {
   .imgDivHizalama{
        flex-direction: column!important;
        gap: 20px;
   }
}

.text-success {
    color: #344e41 !important;
}

